.header {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(233, 225, 225);
}
.menu-icon {
  height: 40px;
  margin: 10px 10px;
}
.dropmenu {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropmenu a {
  display: block;
  color: black;
}
.show {
  display: block;
}
.knp-logo {
  height: 40px;
}
.header-div1 {
  display: flex;
  align-items: center;
  max-width: 300px;
}
.header-div2{
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 0;
}
.input-search{
  height: 35px;
  flex: 1;
  padding-left: 14px;
  font-size: 16px;
  border: 1px solid rgb(172, 163, 163);
  border-radius: 2px;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
}
.input-search::placeholder{
  font-family: roboto,arial;
  font-size: 16px;
}
.button-search{
  margin-left: -1px;
  border: 1px solid rgb(172, 163, 163);
  height: 38px;
  width: 60px;
  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  margin-right: 10px;
}
.search-icon{
  background-color: rgb(79, 73, 73);
  color: gray;
  height: 24px;
}
.voice-icon{
  height: 25px;
}
.button-voice{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(242, 236, 236);
}
.header-div3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 10px;
  flex-shrink: 0;
}
.cart-icon{
  height: 30px;
  width: 30px;
}
.notification-icon{
  height: 30px;
  width: 30px;
  border-radius: 15px;
}
.account-icon{
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
.div-buttons {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.butt1 {
  border-radius: 30px;
  border: 1px solid gray;
  font-style: italic;
  padding: 10px;
  display: transition;
}
.butt1:hover {
  background-color: green;
  color: white;
  transform: rotateX('angle');
  cursor: pointer;
}